*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),url('./image/bc.png');
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
i{
    color: coral;
}
.form-box{
    width: 90%;
    max-width: 500px;
    min-width: 400px;
    background-color:rgb(150, 1, 209);
    padding: 60px;
    text-align: center;
    border-radius: 40px;
    box-shadow: -2px 2px 15px rgba(250, 250, 250, 0.5);
}
.form-box h1{
    font-size: 30px;
    color: rgb(23, 3, 77);
    text-decoration: underline;

}
.form-box .underline{
    width: 50px;
    height:10px;
    
   
    
}
.input-feild{
    padding-top: 30px;
    margin: 15px 0;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.input-feild input{
    width: 100%;
    border: 0;
    outline: 0;
    padding: 18px 15px;

}
.input-feild i{
    margin-left: 10px;
    color: hsl(337, 94%, 7%);
}
form p{
    color: rgb(224, 230, 230);
    text-align: left;
}
form a{
    color: aqua;
    text-decoration: solid;
}
.btn-feild{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.btn-feild button{
   flex-basis: 48%;
   background-color: blue;
   color: white;
   height: 40px;
   border-radius: 20px;
   border: 0;
   cursor: pointer;
   transition: background 1s;
}
.input-group{
    height: 380px;
}
.hide{
    display: none;
}